
            @font-face {
                font-family: lemon_milk;
                src: url(lemon_milk_bold.otf);
            }

            body {background-color: white;
                 color: black;}

            div#modebox {border: 5px solid blue;
                width: 200px;
                background-color: lightgray;

            }
        
            div#navigation {width: 90%;
            border: 10px solid blue;
            padding: 40px;
            margin: 25px;
            background-color: lightgray;
            font-family: lemon_milk;
            position: relative;
            top: -30px;}

            div#main {width: 91%;
                     background-color: lightgray;
                     border: 10px solid blue;
                    padding: 30px;
                    margin: 26px;
                    height: 950px;
                    position: relative;
                    top: -35px;}

            aside#home {width: 20%;
                        float: left;
                        text-align: center;
                        margin: -7px;}

            aside#aboutme {width: 20%;
                        float: left;
                        text-align: center;
                        margin: -7px;}

            aside#twitter {width: 20%;
                        float: left;
                        text-align: center;
                        margin: -7px;}

            aside#cshofwork {width: 20%;
                        float: left;
                        text-align: center;
                        margin: -16px;}

            aside#fenwick {width: 20%;
                        float: left;
                        text-align: center;
                        margin: -7px;}
            
            a {font-weight: bolder;
               font-size: 18px;
               color: blue;}

            h1 {text-align: center;
                font-family: lemon_milk;
                position: relative;
                top: -15px;
                font-size: 48px;
            }

            h2 { font-family: lemon_milk;
                font-size: 28px;}


                h3 {text-align: center;
                font-family: lemon_milk;
                position: relative;
                top: -40px;
                font-size: 20px; 
                }

            a:hover {color: aqua;}

            p {
                font-size: 22px;
            }


            aside#left {
                float: left;
                padding: 25px;
                padding-right: 150px;
            }

            aside#middle {
                float: left;
                padding: 25px;
            }
            
            aside#right {
                float: left;
                padding: 25px;
                padding-left: 50px;
            }

            div#left {
                width: 350px;
                text-align: center;
                
            }

            div#middle {
                width: 550px;
                text-align: center;
            }

            div#right {
                width: 500px;
                text-align: center;
                
            }

            img#left {
                height: 512px;
            }